{% extends 'base.html'%}

{% block title %}coins prices{% endblock %}

{% block content %}

<figure class="highcharts-figure">
    <div id="container"></div>
</figure>

<div style="max-width: 600px; padding: auto; text-align: center; margin: auto;">
    <form method="post">
        {% csrf_token %}
        <span>{{ form.coin }}</span>
        <span>{{ form.begin }}</span>
        <span>{{ form.end }}</span>
        <span><button type="submit" class="btn btn-primary">Consultar</button></span>
    </form>
</div>


{% endblock %}

{% block script %}
<script>
    Highcharts.chart('container', {

    title: {
        text: 'Coins Prices',
        align: 'center'
    },

    subtitle: {
        text: 'Valores para {{ coin|upper }}',
        align: 'center'
    },

    yAxis: {
        title: {
            text: 'Preço por dolar'
        }
    },

    xAxis: {
        categories: [
            {% for item in rates %}
                '{{ item.date|date:"d/m/Y" }}',
            {% endfor %}
        ]
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },
    series: [{
        name: '{{ coin|upper }}',
        data: [
            {% load l10n %}
            {% for item in rates %}
                {{ item.value|stringformat:".2f"|unlocalize }},
            {% endfor %}
        ]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>
{% endblock %}
